.subHeader {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.leftSubHeader {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.rightSubHeader {
    margin-right: 10px;
    width: 50%;
    text-align: right;
}

.subHeaderInput {
    width: 70%;
}

.subHeaderNav {
    color: teal;

}

.subHeaderNav:hover {
    text-decoration: underline;
}