a{
    text-decoration: none;
  }

  .section{
    background-color: rgb(54, 54, 54);
    padding: 50px;
  }

  .content {
    margin: 0 auto;
    width: 1000px;
    background-color: white;
    border-radius: 5px;
  }

  .layout{
  }